@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
* { 
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  width: 100%;
}

.sidemenu{
  height: 100vh;
  width: 340px;
  padding: 10px;
  background-color: rgb(33, 34, 36);
}

.side-menu-button{
  padding: 12px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25s all;
  margin-bottom: 12px;
  color: rgb(255, 255, 255);
}

.side-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.234);
}

.side-menu-button span{
  padding-left: 6px;
  padding-right: 12px;
}

.chatbox{
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: relative;
  height: 100vh;
  
}

.chat-log{
  text-align: left;
  overflow: scroll;
}

.chat-message{
  color: rgb(33, 34, 36);
}

.chat-message.chatgpt{
  background-color: #f5f5f5;
  border-bottom: solid 1px rgb(221, 221, 221);
  border-top: solid 1px rgb(221, 221, 221);

}

.chat-message-center{
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.message{
  margin-top: 8px;
  margin-left: 24px;
}

.avatar{
  background: rgb(53, 76, 227);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 1px;
  flex: none;
}

.avatar.chatgpt{
  background: #0da37f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  padding: 6px;
}

.chat-input-holder-wrapper{
  position: absolute;
  padding: 24px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, #f5f5f5, transparent);
}

.chat-input-holder{
  padding: 2px;
  padding-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 0 10px 0 rgba(92, 92, 92, 0.15);
  border: solid 1px rgb(231, 231, 231);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 24px;
  margin-top: 24px;
}

.chat-input-textarea{
  background-color: rgb(255, 255, 255);
  margin-right: 8px;
  max-width: 700px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: rgb(33, 34, 36);
  font-size: 1.25em;
  resize: none;
}

.submit{
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  background-color: white;
  color: rgb(202, 202, 202);
  border-radius: 8px;
}

.submit:hover{
  background-color: rgb(226, 226, 226);
}



/* Loading State */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #a1a1a1;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}